{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "max-classes-per-file": "off",
    "no-param-reassign": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-console": "warn",
    "no-new": "off",
    "no-plusplus": "off",
    "react/jsx-filename-extension": "off",
    "react/no-deprecated": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "consistent-return": "off",
    "operator-linebreak": "off",
    "react/prop-types": "off",
    "import/no-cycle": "off"
  },
  "extends": ["airbnb"]
  // "settings": {
  //   "import/resolver": {
  //     "node": {
  //       "paths": ["src"]
  //     }
  //   }
  // }
}
