.add-todo,
.todos {
  padding: 10px;
}

.main {
  padding: 30px;
  background-color: thistle;
  color: brown;
}

.todos {
  background-color: navy;
  color: white;
}

.add-todo {
  background-color: olivedrab;
  color: white;
}
